.logo {
  background-image: url('../assets/images/FyxiousEntertainment_12-01-13.png');
  background-size: contain;
  margin-left: 10px;
  height: 120px;
  width: 120px;
}
.navbar-title {
  font-family: "subway-berlin-std", sans-serif;
  font-style: normal;
  font-size: 3em;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 20px;
}
.navbar-brand {
  font-family: "subway-berlin-std", sans-serif;
  font-style: normal;
  font-size: 3em;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  text-align: center;
}
